@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
		to bottom,
		transparent,
		rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
	.form-container {
		@apply flex flex-col w-[300px]
	}
	
	.form-field {
		@apply flex flex-row justify-between text-xl py-2
	}

	.dropdown-field {
		@apply text-black px-2 w-[150px] hover:cursor-pointer
	}

	.form-button {
		@apply w-32 bg-green-800 text-gray-200 self-center mt-4 py-2 rounded-md hover:bg-green-900 transition-all
	}

	.chart-container {
		@apply flex flex-row w-[500px]
	}
}
